/* Variables for fonts */
/* line 48, basic.scss */
body {
  background: #fff;
  color: #4b4b4b;
  font-size: 14px;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
}
/* line 56, basic.scss */
body.user-messages {
  margin-top: 3.4em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* line 64, basic.scss */
a:hover {
  color: black;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

/* line 69, basic.scss */
h1 {
  font-size: 24px;
  line-height: 36px;
}

/* line 74, basic.scss */
h2 {
  font-size: 20px;
  line-height: 24px;
}

/* ----- Red Popup notification ----- */
/* line 81, basic.scss */
.vote-notification {
  z-index: 1;
  cursor: pointer;
  display: none;
  padding-bottom: 10px;
  position: absolute;
  text-align: center;
}
/* line 88, basic.scss */
.vote-notification h3 {
  font-size: 14px;
  margin-bottom: 5px;
  line-height: 20px;
  font-weight: normal;
}
/* line 94, basic.scss */
.vote-notification a {
  text-decoration: underline;
  font-weight: bold;
}

/* line 101, basic.scss */
.content-wrapper {
  min-height: 70vh;
}

/* line 104, basic.scss */
.section-title {
  color: #7ea9b3;
  float: left;
  font-family: "Open Sans Condensed", Arial, sans-serif;
  font-weight: bold;
  font-size: 24px;
}

/* line 112, basic.scss */
.ground {
  padding: 16px 0;
  background: #343a40;
  font-size: .95rem;
}
/* line 117, basic.scss */
.ground a:hover {
  color: #ebff88;
}
/* line 121, basic.scss */
.ground p {
  margin-bottom: 0;
}

/* line 126, basic.scss */
.footer-links {
  color: #EEE;
  text-align: left;
}
/* line 130, basic.scss */
.footer-links a {
  color: #e7e8a8;
}

/* line 135, basic.scss */
.powered-link {
  text-align: left;
}
/* line 138, basic.scss */
.powered-link a {
  color: #8ebcc7;
}

/* line 143, basic.scss */
.copyright {
  color: #616161;
}
/* line 146, basic.scss */
.copyright a {
  color: #8ebcc7;
}
/* line 150, basic.scss */
.copyright img.license-logo {
  margin-left: 10px;
  float: right;
}

/* line 156, basic.scss */
.hilite {
  background-color: #ff0;
}

/* line 160, basic.scss */
.hilite1 {
  background-color: #ff0;
}

/* line 164, basic.scss */
.hilite2 {
  background-color: #f0f;
}

/* line 168, basic.scss */
.hilite3 {
  background-color: #0ff;
}

/* line 172, basic.scss */
.gold, .badge1 {
  color: #FFCC00;
}

/* line 176, basic.scss */
.silver, .badge2 {
  color: #CCCCCC;
}

/* line 180, basic.scss */
.bronze, .badge3 {
  color: #CC9933;
}

/* line 184, basic.scss */
.invisible {
  margin: -1px 0 0 -1px;
  height: 1px;
  overflow: hidden;
  width: 1px;
}

/* line 192, basic.scss */
.wmd-container textarea {
  width: 100% !important;
  box-sizing: border-box;
}
/* line 196, basic.scss */
.wmd-container img {
  max-width: 100%;
}

/* line 2, nav.scss */
.navbar .nav-link {
  font-size: 18px;
}
/* line 5, nav.scss */
.navbar .nav-link:hover {
  text-decoration: underline;
}
/* line 9, nav.scss */
.navbar .nav-link .fa {
  padding-right: 5px;
}
/* line 14, nav.scss */
.navbar .nav-user {
  display: inline-block;
}
/* line 19, nav.scss */
.navbar .user-info a {
  color: rgba(255, 255, 255, 0.5);
}
/* line 22, nav.scss */
.navbar .user-info a:hover {
  color: rgba(255, 255, 255, 0.75);
}

/* line 29, nav.scss */
nav.question {
  height: 54px;
  background: #e9e9e1;
  border-bottom: #d3d3c2 1px solid;
  border-top: #fcfcfc 1px solid;
  box-sizing: border-box;
  font-size: 16px;
}
/* line 36, nav.scss */
nav.question .inner-q {
  display: table;
  width: 100%;
}
/* line 39, nav.scss */
nav.question .inner-q > div {
  display: table-cell;
}
/* line 42, nav.scss */
nav.question .inner-q .home-btn,
nav.question .inner-q .scope-nav {
  padding-right: 16px;
  vertical-align: middle;
  white-space: nowrap;
  width: 10px;
}
/* line 48, nav.scss */
nav.question .inner-q .home-btn a,
nav.question .inner-q .scope-nav a {
  color: #7a7a6b;
  margin-left: 16px;
}
/* line 51, nav.scss */
nav.question .inner-q .home-btn a:first-of-type,
nav.question .inner-q .scope-nav a:first-of-type {
  margin-left: 0;
}
/* line 56, nav.scss */
nav.question .inner-q .home-btn a:hover,
nav.question .inner-q .scope-nav a:hover {
  color: #5a5a5a;
}
/* line 60, nav.scss */
nav.question .inner-q .scope-nav {
  padding-left: 15px;
}
/* line 63, nav.scss */
nav.question .inner-q .home-btn {
  border-right: #afaf9e 1px solid;
  padding-right: 15px;
}
/* line 67, nav.scss */
nav.question .inner-q .scope-selector {
  display: inline-block;
  line-height: 53px;
}
/* line 70, nav.scss */
nav.question .inner-q .scope-selector.on {
  background: url(../images/scopearrow.png) no-repeat bottom center;
}
/* line 75, nav.scss */
nav.question .ask-question {
  margin-top: 7px;
}
/* line 78, nav.scss */
nav.question .ask-question a.btn {
  text-transform: uppercase;
}
/* line 82, nav.scss */
nav.question .cancelSearchBtn {
  position: absolute;
  right: 44px;
  border: none;
  background-color: transparent;
  font-size: 16px;
  color: #aaa;
  line-height: 37px;
  cursor: pointer;
  z-index: 10001;
}

/* line 95, nav.scss */
.search-bar {
  top: 7px;
}

/* line 99, nav.scss */
.search-drop-menu {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background: whitesmoke;
  border-top: none;
  top: 38px;
  left: 0;
  right: 0;
  margin: 0;
  outline: 1px solid #dadad4;
  position: absolute;
  z-index: 10000;
}
/* line 112, nav.scss */
.search-drop-menu ul {
  list-style: none;
  overflow: auto;
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
}
/* line 119, nav.scss */
.search-drop-menu ul li {
  padding: 5px 10px;
  position: relative;
}
/* line 123, nav.scss */
.search-drop-menu ul li a {
  text-decoration: none;
}
/* line 127, nav.scss */
.search-drop-menu ul li.selected {
  background: #08c;
}
/* line 130, nav.scss */
.search-drop-menu ul li.selected a {
  color: whitesmoke;
}
/* line 135, nav.scss */
.search-drop-menu .footer {
  text-align: center;
  margin: 0 0 1px 0;
  padding: 4px 0 10px 0;
}
/* line 140, nav.scss */
.search-drop-menu.empty .footer {
  padding-top: 9px;
}

/* line 146, nav.scss */
.search-drop-menu.empty ul {
  padding: 1px;
  margin: 0;
}

/* line 152, nav.scss */
.notify .alert.alert-warning {
  height: 3.4em;
}

/* line 156, nav.scss */
#homeButton i {
  color: #7a7a7b;
  font-size: 26px;
  line-height: 53px;
}
/* line 160, nav.scss */
#homeButton i:hover {
  color: #5a5a5a;
}

@media screen and (max-width: 991px) {
  /* line 168, nav.scss */
  nav.question .inner-q .scope-nav {
    display: none;
  }
  /* line 172, nav.scss */
  nav.question .inner-q .search-bar-wrap {
    padding-left: 15px;
  }
  /* line 176, nav.scss */
  nav.question .inner-q .home-btn a {
    margin-left: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  /* line 184, nav.scss */
  .container {
    max-width: 96%;
  }

  /* line 190, nav.scss */
  .navbar .navbar-nav .nav-link {
    padding-right: .25rem;
    padding-left: .25rem;
  }
  /* line 194, nav.scss */
  .navbar .navbar-nav .link-hidden {
    display: none;
  }
}
/* Variables for fonts */
/* line 48, basic.scss */
body {
  background: #fff;
  color: #4b4b4b;
  font-size: 14px;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
}
/* line 56, basic.scss */
body.user-messages {
  margin-top: 3.4em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* line 64, basic.scss */
a:hover {
  color: black;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

/* line 69, basic.scss */
h1 {
  font-size: 24px;
  line-height: 36px;
}

/* line 74, basic.scss */
h2 {
  font-size: 20px;
  line-height: 24px;
}

/* ----- Red Popup notification ----- */
/* line 81, basic.scss */
.vote-notification {
  z-index: 1;
  cursor: pointer;
  display: none;
  padding-bottom: 10px;
  position: absolute;
  text-align: center;
}
/* line 88, basic.scss */
.vote-notification h3 {
  font-size: 14px;
  margin-bottom: 5px;
  line-height: 20px;
  font-weight: normal;
}
/* line 94, basic.scss */
.vote-notification a {
  text-decoration: underline;
  font-weight: bold;
}

/* line 101, basic.scss */
.content-wrapper {
  min-height: 70vh;
}

/* line 104, basic.scss */
.section-title {
  color: #7ea9b3;
  float: left;
  font-family: "Open Sans Condensed", Arial, sans-serif;
  font-weight: bold;
  font-size: 24px;
}

/* line 112, basic.scss */
.ground {
  padding: 16px 0;
  background: #343a40;
  font-size: .95rem;
}
/* line 117, basic.scss */
.ground a:hover {
  color: #ebff88;
}
/* line 121, basic.scss */
.ground p {
  margin-bottom: 0;
}

/* line 126, basic.scss */
.footer-links {
  color: #EEE;
  text-align: left;
}
/* line 130, basic.scss */
.footer-links a {
  color: #e7e8a8;
}

/* line 135, basic.scss */
.powered-link {
  text-align: left;
}
/* line 138, basic.scss */
.powered-link a {
  color: #8ebcc7;
}

/* line 143, basic.scss */
.copyright {
  color: #616161;
}
/* line 146, basic.scss */
.copyright a {
  color: #8ebcc7;
}
/* line 150, basic.scss */
.copyright img.license-logo {
  margin-left: 10px;
  float: right;
}

/* line 156, basic.scss */
.hilite {
  background-color: #ff0;
}

/* line 160, basic.scss */
.hilite1 {
  background-color: #ff0;
}

/* line 164, basic.scss */
.hilite2 {
  background-color: #f0f;
}

/* line 168, basic.scss */
.hilite3 {
  background-color: #0ff;
}

/* line 172, basic.scss */
.gold, .badge1 {
  color: #FFCC00;
}

/* line 176, basic.scss */
.silver, .badge2 {
  color: #CCCCCC;
}

/* line 180, basic.scss */
.bronze, .badge3 {
  color: #CC9933;
}

/* line 184, basic.scss */
.invisible {
  margin: -1px 0 0 -1px;
  height: 1px;
  overflow: hidden;
  width: 1px;
}

/* line 192, basic.scss */
.wmd-container textarea {
  width: 100% !important;
  box-sizing: border-box;
}
/* line 196, basic.scss */
.wmd-container img {
  max-width: 100%;
}

/* line 3, paginator.scss */
.page-link {
  padding: 0.25rem 0.5rem;
  color: #8ebcc7;
}
/* line 6, paginator.scss */
.page-link .fa {
  font-weight: bold;
}

/* line 13, paginator.scss */
.page-item:first-child .page-link,
.page-item:last-child .page-link {
  border-radius: 0;
}

/* line 18, paginator.scss */
.page-item.active .page-link {
  border-color: #8ebcc7;
  background-color: #8ebcc7;
}

/* line 5, style.scss */
.mt-2 {
  margin-top: 0 !important;
}

/* line 10, style.scss */
.input-group-addon,
.btn,
.card,
.card-header:first-child,
.form-control-sm,
.input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .btn,
.form-control {
  border-radius: 0;
}

/* line 22, style.scss */
.main-col {
  padding-left: 7px !important;
  padding-top: 12px;
}

/* line 26, style.scss */
.side-col {
  padding-top: 12px;
}
/* line 28, style.scss */
.side-col h1, .side-col h2, .side-col h3, .side-col h4, .side-col h5, .side-col h6 {
  font-weight: normal;
}

/* line 34, style.scss */
.alert p:last-child {
  margin-bottom: 0;
}

/* line 39, style.scss */
.tab-bar {
  float: right;
  font-size: 16px;
}
/* line 42, style.scss */
.tab-bar .input-group-addon {
  padding: .3rem .5rem;
  font-size: 16px;
}
/* line 46, style.scss */
.tab-bar span.input-group-addon {
  color: grey;
}
/* line 49, style.scss */
.tab-bar a.input-group-addon {
  text-decoration: none;
}
/* line 51, style.scss */
.tab-bar a.input-group-addon.on {
  color: black;
}
/* line 54, style.scss */
.tab-bar a.input-group-addon:hover {
  text-decoration: none;
}

/* line 60, style.scss */
.rss {
  float: right;
  color: #f57900;
  margin: 0 5px;
  line-height: 2.2;
}
/* line 65, style.scss */
.rss:hover {
  color: #c26000;
}

/* line 70, style.scss */
#questionCount {
  font-size: 20px;
  color: #7ea9b3;
  margin-bottom: 0 !important;
}
/* line 75, style.scss */
#questionCount .count {
  font-size: 20px;
  color: #7ea9b3;
  margin-bottom: 0;
  padding-top: 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

/* ----- Question list , check main_page/content.html and macros/macros.html----- */
/* line 85, style.scss */
#question-list {
  position: relative;
}

/* line 89, style.scss */
.short-summary {
  position: relative;
  filter: inherit;
  padding: 10px 0 3px 0;
  border-bottom: 1px solid #DDDBCE;
  margin-bottom: 1px;
  overflow: hidden;
  width: 100%;
  float: left;
}
/* line 99, style.scss */
.short-summary h2 {
  font-size: 20px;
  font-weight: normal;
  line-height: 24px;
  padding-left: 0;
  margin-bottom: 7px;
  display: block;
  font-family: "Helvetica Neue", Arial, sans-serif;
}
/* line 109, style.scss */
.short-summary a {
  color: #464646;
}
/* line 113, style.scss */
.short-summary .userinfo {
  text-align: right;
  line-height: 16px;
  font-family: "Helvetica Neue", Arial, sans-serif;
}
/* line 118, style.scss */
.short-summary .userinfo a {
  font-size: 12px;
}
/* line 123, style.scss */
.short-summary .userinfo .timeago,
.short-summary span.anonymous {
  font-size: 12px;
  clear: both;
  font-weight: normal;
  color: #555;
}
/* line 131, style.scss */
.short-summary .counts {
  float: right;
  margin: 4px 0 0 5px;
  font-family: "Helvetica Neue", Arial, sans-serif;
}
/* line 136, style.scss */
.short-summary .counts .item-count {
  padding: 0 5px;
  font-size: 20px;
  font-family: "Helvetica Neue", Arial, sans-serif;
}
/* line 146, style.scss */
.short-summary .counts .votes div,
.short-summary .counts .views div,
.short-summary .counts .answers div,
.short-summary .counts .favorites div {
  margin-top: -5px;
  font-size: 12px;
  line-height: 14px;
  color: #646464;
}
/* line 155, style.scss */
.short-summary .tags {
  margin: 0 0 0 1px;
}
/* line 159, style.scss */
.short-summary .votes, .short-summary .answers, .short-summary .favorites, .short-summary .views {
  text-align: center;
  margin: 0 3px;
  padding: 2px 2px 0 2px;
  width: 48px;
  float: right;
  height: 48px;
  border: #dbdbd4 1px solid;
}
/* line 169, style.scss */
.short-summary .votes {
  background: url(../images/vote-background.png) repeat-x;
}
/* line 173, style.scss */
.short-summary .answers {
  background: url(../images/answers-background.png) repeat-x;
}
/* line 177, style.scss */
.short-summary .views {
  background: url(../images/view-background.png) repeat-x;
}
/* line 181, style.scss */
.short-summary .no-votes .item-count {
  color: #b1b5b6;
}
/* line 185, style.scss */
.short-summary .some-votes .item-count {
  color: #4a757f;
}
/* line 189, style.scss */
.short-summary .no-answers .item-count {
  color: #b1b5b6;
}
/* line 193, style.scss */
.short-summary .some-answers .item-count {
  color: #eab243;
}
/* line 197, style.scss */
.short-summary .no-views .item-count {
  color: #b1b5b6;
}
/* line 201, style.scss */
.short-summary .views {
  margin-right: 0;
}
/* line 205, style.scss */
.short-summary .some-views .item-count {
  color: #d33f00;
}
/* line 209, style.scss */
.short-summary .accepted .item-count {
  background: url(../images/accept.png) no-repeat top right;
  display: block;
  text-align: center;
  width: 40px;
  color: #eab243;
}
/* line 217, style.scss */
.short-summary .some-favorites .item-count {
  background: #338333;
  color: #d0f5a9;
}
/* line 222, style.scss */
.short-summary .no-favorites .item-count {
  background: #eab243;
  color: yellow;
}

/* line 228, style.scss */
ul.tags {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 170%;
  display: block;
}

/* line 236, style.scss */
.js-tag {
  display: block;
  height: 17px;
  margin: 0 5px 0 0;
  padding: 0;
}
/* line 242, style.scss */
.js-tag .js-delete-icon {
  -webkit-box-shadow: 0px 0px 5px #d3d6d7;
  -moz-box-shadow: 0px 0px 5px #d3d6d7;
  box-shadow: 0px 0px 5px #d3d6d7;
  border-top: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 22px;
  width: 18px;
  display: inline-block;
  line-height: 20px;
  text-align: center;
  background: #bbcdcd;
  cursor: default;
  color: #fff;
}
/* line 259, style.scss */
.js-tag .tag-number {
  float: none;
}

/* line 264, style.scss */
.merge-questions .js-tag {
  display: inline-block;
}

/* line 268, style.scss */
.js-tag-extra-content {
  padding-left: 4px;
  vertical-align: text-top;
}

/* line 273, style.scss */
.js-tag-name {
  cursor: pointer;
  background: #f3f6f6;
  border: #fff 1px solid;
  border-top: #fff 2px solid;
  outline: #cfdbdb 1px solid !important;
  -webkit-box-shadow: 0px 0px 5px #d3d6d7;
  -moz-box-shadow: 0px 0px 5px #d3d6d7;
  box-shadow: 0px 0px 5px #d3d6d7;
  display: inline-block;
  height: 20px;
  line-height: 17px;
  font-weight: normal;
  font-size: 12px;
  padding: 0 8px;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #585858;
}

/* line 295, style.scss */
.js-deletable-tag {
  margin-right: 3px;
  white-space: nowrap;
}

/* line 300, style.scss */
.tags a.js-tag-name,
.tags span.js-tag-name {
  color: #585858;
  text-decoration: none;
}

/* line 306, style.scss */
.tags a:hover {
  color: #1A1A1A;
}

/* line 310, style.scss */
ul.tags li {
  display: inline-block;
  margin: 0 4px 8px 0;
  padding: 0;
  height: 20px;
}

/* line 318, style.scss */
.question-info .with-avatar {
  margin-left: 50px;
}

/* line 323, style.scss */
.ask-page {
  font-size: 16px;
}
/* line 325, style.scss */
.ask-page label {
  font-size: 16px;
}
/* line 329, style.scss */
.ask-page .checkbox label {
  font-size: 14px;
}

/* line 336, style.scss */
.js-error,
.form-error {
  font-size: 12px;
  color: #dc3545;
}

/* ----- Sidebar Widgets Box, check main_page/sidebar.html or question/sidebar.html ----- */
/* line 344, style.scss */
.card .card-header {
  font-size: 1.15em;
}

/* line 349, style.scss */
#tagSelector h2 {
  background: #eceeeb;
  text-align: right;
  font-size: 18px;
  color: #656565;
  padding: 10px 10px 10px 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
}
/* line 358, style.scss */
#tagSelector h3 {
  color: #4a757f;
  font-size: 18px;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

/* line 366, style.scss */
#displayTagFilterControl p {
  margin-bottom: 0;
}
/* line 370, style.scss */
#displayTagFilterControl label {
  color: #707070;
  font-size: 15px;
  font-weight: 600;
}

/* line 377, style.scss */
.acResults {
  padding: 0;
  border: 1px solid WindowFrame;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 1px 1px #BFBFBF;
  z-index: 100;
}
/* line 384, style.scss */
.acResults ul {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
/* line 390, style.scss */
.acResults li {
  margin: 0;
  padding: 2px 5px;
  cursor: pointer;
  display: block;
  font-size: 14px;
  overflow: hidden;
}
/* line 398, style.scss */
.acResults .acSelect {
  background-color: Highlight;
  color: HighlightText;
}

@media screen and (max-width: 767px) {
  /* line 406, style.scss */
  .views,
  .votes,
  .rss {
    display: none;
  }

  /* line 411, style.scss */
  .tab-bar {
    float: none;
    margin-bottom: 10px;
  }
}
/* line 419, style.scss */
.post {
  padding: 10px 0 0 8px;
}
/* line 421, style.scss */
.post .social-share {
  margin-top: 1rem;
}
/* line 423, style.scss */
.post .social-share .fa {
  font-size: 1.625rem;
  font-weight: normal !important;
}
/* line 428, style.scss */
.post .social-share a.facebook-share.icon,
.post .social-share a.twitter-share.icon,
.post .social-share a.linkedin-share.icon,
.post .social-share a.identica-share.icon {
  display: inline-block;
  line-height: 1.5rem;
  margin-bottom: 0.25rem;
  opacity: 0.6;
  cursor: pointer;
}
/* line 436, style.scss */
.post .social-share a.facebook-share.icon:hover,
.post .social-share a.twitter-share.icon:hover,
.post .social-share a.linkedin-share.icon:hover,
.post .social-share a.identica-share.icon:hover {
  opacity: 1;
}
/* line 442, style.scss */
.post .social-share a.facebook-share.icon {
  color: #536cac;
}
/* line 444, style.scss */
.post .social-share a.facebook-share.icon:hover {
  color: #536cac;
}
/* line 454, style.scss */
.post .social-share a.twitter-share.icon {
  color: #6ba3eb;
}
/* line 456, style.scss */
.post .social-share a.twitter-share.icon:hover {
  color: #6ba3eb;
}
/* line 461, style.scss */
.post .social-share a.linkedin-share.icon {
  color: #4d79af;
}
/* line 463, style.scss */
.post .social-share a.linkedin-share.icon:hover {
  color: #4d79af;
}
/* line 470, style.scss */
.post .vote-buttons {
  color: #888;
  float: left;
  width: 35px;
  margin-left: -6px;
}
/* line 475, style.scss */
.post .vote-buttons .fa {
  display: inherit;
  font-size: 1.825rem;
  font-weight: bold;
  line-height: 1rem;
  cursor: pointer;
}
/* line 482, style.scss */
.post .vote-buttons .fa.fa-check-circle {
  font-size: 1.5rem;
}
/* line 485, style.scss */
.post .vote-buttons .fa.upvote:hover {
  color: #28a745;
}
/* line 488, style.scss */
.post .vote-buttons .fa.downvote:hover {
  color: #dc3545;
}
/* line 493, style.scss */
.post .vote-number {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 23px;
  font-weight: bold;
  display: inline-block;
  margin-top: 10px;
  line-height: 15px;
}

/* line 505, style.scss */
.question-page .js-text-error {
  margin-bottom: 4px;
}
/* line 508, style.scss */
.question-page .js-editable-controls .btn {
  margin-right: 10px;
}
/* line 512, style.scss */
.question-page h1 {
  font-family: "Helvetica Neue", Arial, sans-serif;
}
/* line 514, style.scss */
.question-page h1 a {
  color: #464646;
  font-size: 26px;
  font-weight: normal;
  line-height: 1;
}
/* line 520, style.scss */
.question-page h1 .js-editable-content {
  display: inline;
}
/* line 523, style.scss */
.question-page h1 .js-editable-controls {
  display: inline;
}
/* line 526, style.scss */
.question-page h1 textarea.form-control {
  padding-top: 0;
  padding-bottom: 0;
}
/* line 531, style.scss */
.question-page h1 .btn-link {
  cursor: pointer;
  color: #888;
  padding: 0;
}
/* line 535, style.scss */
.question-page h1 .btn-link:hover {
  text-decoration: underline;
}
/* line 538, style.scss */
.question-page h1 .btn-link .fa {
  padding-left: 5px;
}
/* line 543, style.scss */
.question-page h1 .js-simple-editor textarea {
  color: #666;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 30px;
  line-height: 36px;
  height: 66px;
  width: 100% !important;
}
/* line 554, style.scss */
.question-page p.rss {
  float: none;
  clear: both;
  display: inline-block;
  padding: 3px 0 3px 20px;
  font-size: 15px;
  width: auto;
  background-position: center left;
}
/* line 564, style.scss */
.question-page p.rss a {
  font-family: "Helvetica Neue", Arial, sans-serif;
  vertical-align: top;
}
/* line 569, style.scss */
.question-page .post {
  margin-bottom: 16px;
}
/* line 571, style.scss */
.question-page .post .mceEditor td {
  width: auto;
}
/* line 574, style.scss */
.question-page .post pre, .question-page .post code {
  clear: both;
}
/* line 579, style.scss */
.question-page .post-content {
  margin-left: 40px;
}
/* line 583, style.scss */
.question-page .js-question .post-content {
  margin-bottom: 10px;
}
/* line 587, style.scss */
.question-page .answer .post-content {
  border-bottom: 1px solid #D4D4D4;
}
/* line 591, style.scss */
.question-page .post-body {
  font-size: 16px;
}
/* line 593, style.scss */
.question-page .post-body img {
  max-width: 100%;
}
/* line 598, style.scss */
.question-page .js-question .post-body {
  border-top: #f0f0f0 1px solid;
}
/* line 602, style.scss */
.question-page .post-update-info {
  font-size: 12px;
}
/* line 604, style.scss */
.question-page .post-update-info .user-card .user-info,
.question-page .post-update-info .action-date {
  margin-left: 40px;
}
/* line 608, style.scss */
.question-page .post-update-info .badges {
  white-space: nowrap;
}
/* line 611, style.scss */
.question-page .post-update-info a {
  color: #4b4b4b;
}
/* line 616, style.scss */
.question-page .post-update-info-container {
  margin: 5px 0;
}
/* line 619, style.scss */
.question-page .post-controls {
  font-size: 12px;
  margin-bottom: 8px;
  min-width: 200px;
  padding-left: 5px;
  text-align: right;
}
@media screen and (max-width: 767px) {
  /* line 619, style.scss */
  .question-page .post-controls {
    margin-left: 0;
  }
}
/* line 628, style.scss */
.question-page .post-controls a,
.question-page .post-controls span.dropdown-toggle {
  color: #888;
  cursor: pointer;
  font-size: 13px;
  margin-left: 5px;
  padding: 0 5px;
}
@media screen and (max-width: 767px) {
  /* line 628, style.scss */
  .question-page .post-controls a,
  .question-page .post-controls span.dropdown-toggle {
    margin-left: 0;
  }
}
/* line 638, style.scss */
.question-page .post-controls a:hover,
.question-page .post-controls span.dropdown-toggle:hover {
  text-decoration: none;
}
/* line 641, style.scss */
.question-page .post-controls a .fa,
.question-page .post-controls span.dropdown-toggle .fa {
  padding-right: 3px;
}
/* line 646, style.scss */
.question-page .post-controls span.dropdown-toggle {
  position: relative;
}
/* line 650, style.scss */
.question-page .post-controls span.dropdown-toggle:hover form {
  margin: 0;
  display: block;
  width: 100%;
}
/* line 655, style.scss */
.question-page .post-controls span.dropdown-toggle:hover input {
  display: block !important;
  height: 20px !important;
  line-height: 20px !important;
  margin: 0;
}
/* line 661, style.scss */
.question-page .post-controls span.dropdown-toggle:hover .dropdown-menu {
  display: block;
  padding: 5px 0;
  right: -5px !important;
  left: auto;
  margin-top: -2px;
}
/* line 667, style.scss */
.question-page .post-controls span.dropdown-toggle:hover .dropdown-menu li,
.question-page .post-controls span.dropdown-toggle:hover .dropdown-menu li:hover {
  display: block !important;
  margin: 0;
  padding: 0;
  width: 100% !important;
}
/* line 674, style.scss */
.question-page .post-controls span.dropdown-toggle:hover .dropdown-menu li:hover {
  background-color: #f5f0c9;
}
/* line 680, style.scss */
.question-page .post-controls .sep {
  color: #ccc;
  float: right;
  height: 18px;
  font-size: 18px;
}
/* line 688, style.scss */
.question-page .post-controls .answer-publish, .question-page .answer-controls .answer-publish {
  background: url(../images/publish.png) no-repeat center left;
}
/* line 691, style.scss */
.question-page .post-controls .answer-unpublish, .question-page .answer-controls .answer-unpublish {
  background: url(../images/unpublish.png) no-repeat 2px center;
}
/* line 695, style.scss */
.question-page .post-controls .answer-convert, .question-page .answer-controls .answer-convert {
  float: right;
  clear: left;
  /*background: url(../images/link.png) no-repeat center left;*/
}
/* line 701, style.scss */
.question-page .post-controls .answer-convert input, .question-page .answer-controls .answer-convert input {
  font-size: 12px;
  color: #888;
  font-family: "Helvetica Neue", Arial, sans-serif;
  text-decoration: none;
  display: inline;
  white-space: nowrap;
  padding-left: 0px;
  background: none;
  border: none;
  padding: 0px 7px 3px 18px;
  float: right;
  height: 18px;
  line-height: 18px;
  margin-top: -2px;
  margin-left: 4px;
}
/* line 719, style.scss */
.question-page .post-controls .answer-convert input:hover, .question-page .answer-controls .answer-convert input:hover {
  background-color: #f5f0c9;
}
/* line 723, style.scss */
.question-page .tabBar {
  width: 100%;
}
/* line 727, style.scss */
.question-page .question-img-favorite:hover {
  background: url(../images/vote-favorite-on.png);
}
/* line 731, style.scss */
.question-page .comments.empty.ordering-forward {
  margin-top: -35px;
  float: left;
}
@media screen and (max-width: 767px) {
  /* line 731, style.scss */
  .question-page .comments.empty.ordering-forward {
    margin-top: 0;
    float: none;
  }
}
/* line 740, style.scss */
.question-page .comments .truncated-post:nth-last-child(3) {
  float: left;
}
/* line 744, style.scss */
.question-page .comments div.controls {
  width: 100%;
  margin: 3px 0 20px 5px;
}
/* line 749, style.scss */
.question-page .comments .edit-comment-buttons {
  margin-top: 10px;
}
/* line 751, style.scss */
.question-page .comments .edit-comment-buttons .checkbox {
  margin: 8px 0 0 0;
}
/* line 754, style.scss */
.question-page .comments .edit-comment-buttons .btn {
  margin-right: 10px;
}
/* line 759, style.scss */
.question-page .comments .controls a {
  color: #988e4c;
  padding: 3px;
  padding-right: 15px;
  font-size: 14px;
}
/* line 764, style.scss */
.question-page .comments .controls a .fa {
  font-size: 18px;
}
/* line 769, style.scss */
.question-page .comments .controls a:hover {
  text-decoration: none;
}
/* line 773, style.scss */
.question-page .comments .js-open-editor-btn,
.question-page .comments .js-load-comments-btn {
  color: #988e4c;
  font-size: 11px;
  padding: 3px;
  cursor: pointer;
}
/* line 781, style.scss */
.question-page .comments .js-open-editor-btn.new-comment-box {
  padding: 0 14px 0 29px;
}
/* line 783, style.scss */
.question-page .comments .js-open-editor-btn.new-comment-box .mock-editor {
  height: 50px;
}
/* line 788, style.scss */
.question-page .comments a {
  background-color: inherit;
  color: #1b79bd;
  padding: 0;
}
/* line 794, style.scss */
.question-page .comments textarea {
  box-sizing: border-box;
  color: #666;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 13px;
  height: 54px;
  line-height: 1.3;
  margin: 0;
  outline: none;
  overflow: auto;
  padding: 5px 19px 2px 6px;
  width: 100%;
}
/* line 807, style.scss */
.question-page .comments input {
  margin-left: 10px;
  margin-top: 1px;
  vertical-align: top;
  width: 100px;
}
/* line 814, style.scss */
.question-page .comments input[name="suppress_email"] {
  margin: 4px 5px 0 0;
  width: auto;
}
/* line 818, style.scss */
.question-page .comments label[for="suppress_email"] {
  vertical-align: top;
}
/* line 822, style.scss */
.question-page .comments button.submit {
  margin-right: 6px;
}
/* line 825, style.scss */
.question-page .comments .counter {
  display: inline-block;
  width: auto;
  float: right;
  vertical-align: top;
  font-family: "Helvetica Neue", Arial, sans-serif;
  text-align: right;
}
/* line 833, style.scss */
.question-page .comments .comment {
  border-bottom: 1px solid #edeeeb;
}
/* line 835, style.scss */
.question-page .comments .comment .comment-content {
  margin-left: 35px;
  padding: 5px 15px 5px 0;
}
/* line 839, style.scss */
.question-page .comments .comment .comment-votes {
  width: 30px;
  float: left;
}
/* line 844, style.scss */
.question-page .comments .comment:last-child {
  border-bottom: none;
}
/* line 847, style.scss */
.question-page .comments div.comment:hover {
  background-color: #efefef;
}
/* line 850, style.scss */
.question-page .comments a.author {
  background-color: inherit;
  color: #1b79bd;
  padding: 0;
}
/* line 855, style.scss */
.question-page .comments a.author:hover {
  text-decoration: underline;
}
/* line 858, style.scss */
.question-page .comments span.js-delete-icon:hover {
  color: #dc3545;
  cursor: pointer;
}
/* line 862, style.scss */
.question-page .comments .content {
  margin-bottom: 7px;
}
/* line 866, style.scss */
.question-page .comments .comment-votes {
  line-height: 130%;
  padding: 6px 5px 6px 3px;
}
/* line 872, style.scss */
.question-page .comments .comment-body p {
  margin-bottom: 4px;
}
/* line 877, style.scss */
.question-page .comments .comment-controls {
  padding-left: 3px;
}
/* line 879, style.scss */
.question-page .comments .comment-controls .js-avatar-box {
  margin-right: 4px;
}
/* line 884, style.scss */
.question-page .comments .js-edit {
  padding-left: 6px;
}
/* line 888, style.scss */
.question-page .comments .convert-comment {
  display: inline;
  white-space: nowrap;
  padding-left: 0;
}
/* line 892, style.scss */
.question-page .comments .convert-comment input {
  background: none;
  padding: 0;
  color: #1B79BD;
  border: none;
  height: 13px;
  width: auto;
  font-size: 12px;
  font-weight: normal;
  margin: 0 0 3px 8px;
  vertical-align: middle;
}
/* line 905, style.scss */
.question-page .comments .convert-comment input:hover {
  text-decoration: underline;
  cursor: pointer;
}
/* line 911, style.scss */
.question-page .comments .comment-delete {
  color: #aaa;
  font-size: 12px;
  float: right;
  padding-left: 10px;
}
/* line 918, style.scss */
.question-page .comments .upvote {
  margin: 0;
  padding-top: 2px;
  text-align: left;
  height: 20px;
  font-size: 13px;
  font-weight: bold;
  color: #888;
}
/* line 928, style.scss */
.question-page .comments .upvote.hover {
  position: relative;
}
/* line 930, style.scss */
.question-page .comments .upvote.hover:after {
  position: absolute;
  left: 0;
  width: 27px;
  text-align: right;
  content: "\f062";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 15px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}
/* line 946, style.scss */
.question-page .comments .upvote:hover:after,
.question-page .comments .upvote.upvoted {
  color: #dc3545;
}
/* line 951, style.scss */
.question-page .comments .help-text {
  float: right;
  text-align: right;
  color: gray;
  margin-bottom: 0px;
  margin-top: 0px;
  line-height: 50%;
}
/* line 960, style.scss */
.question-page #questionTools {
  font-size: 22px;
  margin-top: 11px;
  text-align: left;
}
/* line 966, style.scss */
.question-page .question-status {
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
  background-color: #fef7cc;
  text-align: center;
  border: #e1c04a 1px solid;
}
/* line 975, style.scss */
.question-page .question-status h3 {
  font-size: 20px;
  color: #707070;
  font-weight: normal;
}
/* line 981, style.scss */
.question-page .vote-buttons .notify-sidebar {
  text-align: center;
  margin: 6px auto 0;
}
/* line 984, style.scss */
.question-page .vote-buttons .notify-sidebar label {
  vertical-align: top;
}
/* line 989, style.scss */
.question-page .tabBar-answer {
  padding-left: 7px;
  width: 723px;
  margin-top: 10px;
}
/* line 995, style.scss */
.question-page .accepted-answer {
  background-color: rgba(255, 243, 205, 0.8);
}
/* line 1000, style.scss */
.question-page .answered {
  background: #CCC;
  color: #999;
}
/* line 1005, style.scss */
.question-page .answered-accepted {
  background: #DCDCDC;
  color: #763333;
}
/* line 1009, style.scss */
.question-page .answered-accepted strong {
  color: #E1E818;
}
/* line 1014, style.scss */
.question-page .answer-img-accept {
  font-size: 26px;
  cursor: pointer;
  margin-top: 8px;
}
/* line 1020, style.scss */
.question-page .accepted-answer .answer-img-accept,
.question-page .answer-img-accept:hover {
  color: #28a745;
}
/* line 1025, style.scss */
.question-page #fmanswer {
  color: #707070;
  line-height: 1.2;
  margin-top: 10px;
}
/* line 1030, style.scss */
.question-page #fmanswer h2 {
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #7ea9b3;
  font-size: 24px;
}
/* line 1035, style.scss */
.question-page #fmanswer label {
  font-size: 13px;
}
/* line 1039, style.scss */
.question-page .message {
  padding: 5px;
  margin: 0px 0 10px 0;
}

/* line 1047, style.scss */
.vote-buttons {
  text-align: center;
}
/* line 1049, style.scss */
.vote-buttons .js-question-follower-count {
  font-weight: bold;
}

/* line 1055, style.scss */
.notify-sidebar .rss {
  float: none;
  display: inline-block;
  padding: 3px 0 3px 20px;
  font-size: 15px;
  width: auto;
  background-position: center left;
}

/* line 1065, style.scss */
.questions-related p {
  border-bottom: #cccccc 1px solid;
}
/* line 1067, style.scss */
.questions-related p:last-child {
  border-bottom: none;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

/* line 1078, style.scss */
#contrib-users .row {
  margin-left: -1px;
  margin-right: -1px;
}
/* line 1081, style.scss */
#contrib-users .row .col-md-3 {
  padding-left: 1px;
  padding-right: 1px;
  padding-bottom: 2px;
}
/* line 1087, style.scss */
#contrib-users img {
  width: 100%;
  height: auto;
}

/* line 1093, style.scss */
.wmd-previewer-toggle {
  color: #007bff;
  cursor: pointer;
}

/* line 1100, style.scss */
.defaultSkin .mceIframeContainer {
  border-bottom: none !important;
}
/* line 1103, style.scss */
.defaultSkin table.mceLayout {
  border-bottom: 1px solid #ccc !important;
}
