{% if moderation_items %}
  {% set new_count=moderation_items['new_count'] %}
  {% set seen_count=moderation_items['seen_count'] %}
  <a class="moderation-queue-link with-warning-icon {% if have_new_items %}js-active{% endif %}"
    href="{{ url('moderation_queue') }}"
    {% if new_count > 0 and seen_count > 0 %}
      title="{% trans new=new_count, seen=seen_count %}{{new}} new flagged posts and {{seen}} previous{% endtrans %}"
    {% elif new_count > 0 %}
      title="{% trans new=new_count %}{{new}} new flagged posts{% endtrans %}"
    {% else %}
      title="{% trans seen=seen_count %}{{seen}} flagged posts{% endtrans %}"
    {% endif %}
  ></a>
{% endif %}
