{% extends "user_profile/user.html" %}
{% import "macros.html" as macros %}
{% import "user_profile/macros.html" as user_profile_macros %}
<!-- user_stats.html -->
{% block profilesection %}
  {% trans %}overview{% endtrans %}
{% endblock %}
{% block usercontent %}
  {% include "user_profile/user_info.html" %}
  {% if questions %}
    {% include "user_profile/user_questions.html" %}
  {% endif %}
  {% if top_answers %}
    {% include "user_profile/user_answers.html" %}
  {% endif %}
  {% include "user_profile/user_tags.html" %}
  {% if settings.BADGES_MODE == 'public' %}
    {% include "user_profile/user_badges.html" %}
  {% endif %}
{% endblock %}
{% block endjs %}
  {{ super() }}
  {% compress js %}
  <script src='{{ "/js/tag_selector.js"|media }}'></script>
  <script src='{{ "/js/utils/simple_control.js"|media }}'></script>
  <script src='{{ "/js/utils/toggle.js"|media }}'></script>
  <script src='{{ "/js/utils/ajax_toggle.js"|media }}'></script>
  <script src='{{ "/js/utils/group_join_button.js"|media }}'></script>
  {% endcompress %}
  <script type="text/javascript">
    askbot['urls']['join_or_leave_group'] = '{{ url('join_or_leave_group') }}';
    $(document).ready(function(){
      setupBadgeDetailsToggle();
      $.each($('.group-join-btn'), function(idx, elem){
        var groupJoinBtn = new GroupJoinButton();
        groupJoinBtn.decorate($(elem));
      });
    });
  </script>
{% endblock %}
<!-- end user_stats.html -->
