{% import "macros.html" as macros %}
<div id="answers" class="user-profile-answers">
  <h2>
    {% set pluralized_item_term=settings.WORDS_ANSWERS_COUNTABLE_FORMS|py_pluralize(top_answer_count)|capitalize|escape %}
    {% set item_count=top_answer_count %}
    {% trans %}<span class="count">{{ item_count }}</span> {{ pluralized_item_term }}{% endtrans %}
  </h2>
  <div class="users-answers">
    {% for answer in top_answers %}
      <div class="answer-summary">
        <a href="{{ answer.get_absolute_url() }}">
          <span class="answer-votes {% if answer.endorsed %}answer-accepted{% endif %}">
            {{ answer.score }}
          </span>
          <span class="question-title">{{ answer.thread.title|escape }}</span>
        </a>
      </div>
    {% endfor %}
  </div>
  {% if top_answer_count > page_size %}
    {{ macros.paginator(a_paginator_context) }}
  {% endif %}
</div>
