.user-profile-page {
  ul.avatars {
    list-style: none;
    li {
      margin: 0 1rem 1rem 0;
    }
    img {
      margin-bottom: 0.5rem;
    }
    .avatar-primary-label,
    input[type="submit"] {
      display: block;
      margin: 0 auto;
      text-align: center;
    }
    input[type="file"] {
      margin-bottom: 0.5rem;
    }
    input[type="submit"].upload-avatar-btn {
      //margin-left: 0;
    }
  }
  .avatars {
    display :flex;
  }
  .avatar-label {
    text-align: center;
    font-weight: var(--font-weight-bold);
    margin: 0 0 0.5rem;
  }
}
