.js-questions-header {
  background: var(--bg-color);
  margin-bottom: 0.5rem;
  position: sticky;
  top: var(--forum-header-height);
  z-index: 1;
}

.questions-header-top {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 calc(-1 * var(--layout-horizontal-padding)) 0.125rem calc(-1 * var(--layout-horizontal-padding));
  padding: 0 var(--layout-horizontal-padding);
}

.questions-header-top-controls {
  display: flex;
}

.js-questions-title {
  font-weight: normal;
  font-size: var(--larger-font-size);
  margin-right: 1rem;
  position: relative;
  top: -2px;
}

.js-rss-link {
  align-items: center;
  display: flex;
  font-size: var(--small-font-size);
  margin-left: 0.25rem;
  padding: 0 0.75rem 2px 0;
  &::before {
    font-size: 0.65rem;
  }
}

.search-tags-label {
  font-size: var(--larger-font-size);
  padding-top: 1px;
}

.js-search-tags {
  margin: 0.125rem 0 0;
  .tags {
    display: flex;
    gap: 0 var(--tags-gap);
    flex-wrap: wrap;
  }
}
