.js-questions-header {
  background: var(--bg-color);
  padding-top: 0.3625rem;
  position: sticky;
  top: var(--forum-header-height);
  z-index: 1;
}

.questions-header-top {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 0.125rem;
}

.questions-header-top-controls,
.js-questions-title {
  margin-bottom: 0.25rem;
}

.questions-header-top-controls {
  display: flex;
}

.js-questions-title {
  font-size: 1.25rem;
  margin-right: 1rem;
  position: relative;
  top: -0.125rem;
}

.js-rss-link {
  margin-left: 0.25rem;
}

.js-search-tags .tags {
  display: flex;
  gap: 0 0.3625rem;
  flex-wrap: wrap;
}
