.contrib-avatars {
  display: flex;
  flex-wrap: wrap;
  .js-avatar-box,
  .js-avatar {
    border-radius: var(--border-radius);
    display: inline-block;
    height: 40px;
    margin: 0 1px 1px 0;
    width: 40px;
  }
}
