.js-question-list-header {
  background: var(--bg-color);
  padding-top: 0.3625rem;
  position: sticky;
  top: var(--forum-header-height);
  z-index: 1;
}

.question-list-header-top {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.question-list-header-top-controls,
.js-question-list-title {
  margin-bottom: 0.25rem;
}

.question-list-header-top-controls {
  display: flex;
}

.js-question-list-title {
  font-size: 1.25rem;
  margin-right: 1rem;
  position: relative;
  top: -0.125rem;
}

.js-rss-link {
  margin-left: 0.25rem;
}
