.js-question-list-header {
  margin-top: 0.25rem;
}

.question-list-header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.question-list-header-top-controls {
  display: flex;
}

.js-question-list-title {
  font-size: 1.5rem;
}

.js-rss-link {
  margin-left: 0.25rem;
}
