<div class="question-summary-stats">
  {% if thread.view_count or settings.QUESTION_SUMMARY_SHOW_ZERO_COUNTS %}
    <div class="question-views-count{% if thread.view_count == 0 %} zero-count{% endif %}">
      <div class="item-count">{{ thread.view_count|humanize_counter(humanize_zero=True) }}</div>
      <div class="item-name">{% trans cnt=thread.view_count %}view{% pluralize %}views{% endtrans %}</div>
    </div>
  {% endif %}
  {% set answer_count = thread.get_answer_count(visitor) %}
  {% if answer_count or settings.QUESTION_SUMMARY_SHOW_ZERO_COUNTS %}
    <div class="question-answers-count
                {%- if answer_count == 0 %} zero-count{% endif -%}
                {%- if thread.accepted_answer_id %} has-accepted-answer{% endif %}"
    >
      <div class="item-count">{{ answer_count|humanize_counter(humanize_zero=True) }}</div>
      <div class="item-name">{{ settings.WORDS_ANSWERS_COUNTABLE_FORMS|py_pluralize(answer_count)|escape }}</div>
    </div>
  {% endif %}
  {% if question.score or settings.QUESTION_SUMMARY_SHOW_ZERO_COUNTS %}
    <div class="question-votes-count{% if question.score == 0 %} zero-count{% endif %}">
      <div class="item-count">{{question.score|humanize_counter(humanize_zero=True)}}</div>
      <div class="item-name">{% trans cnt=question.score %}vote{% pluralize %}votes{% endtrans %}</div>
    </div>
  {% endif %}
</div>
