{% from "macros.html" import user_country_flag, timeago, user_primary_group %}
<div class="question-summary-user-info">
  {{ timeago(thread.last_activity_at) }}
  {% set latest_revision = thread.get_latest_revision(user=visitor) %}
  {% if latest_revision and latest_revision.is_anonymous %}
    <span class="anonymous">{{ thread.last_activity_by.get_anonymous_name() }}</span>
  {% else %}
    <a href="{{ url('user_profile', thread.last_activity_by.id,  thread.last_activity_by.username|slugify) }}">{{thread.last_activity_by.username|escape}}</a>
    {{ user_country_flag(thread.last_activity_by) }}
    {% if thread.last_activity_by.get_primary_group() %}
    - {{ user_primary_group(thread.last_activity_by) }}
    {% endif %}
  {% endif %}
</div>
