<!-- template secondary_header.html -->
<div class="forum-header">
  <div class="content-wrapper">
    {% if active_tab == 'ask' %}
      <a class="with-home-icon" href="{{ url('questions') }}"></a>
      <div class="scope-selector ask-message">{{ settings.WORDS_PLEASE_ASK_YOUR_QUESTION_HERE|escape }}</div>
    {% else %}
      <div class="search-bar-container">
        <div class="search-bar-col">
          <a class="with-home-icon" href="{{ url('questions') }}"></a>
          {% if need_scope_links %}
            {% include "components/forum_header/scope_nav.html" %}
          {% endif %}
          {% include "components/forum_header/search_bar.html" %}
        </div>
        <div class="ask-btn-col">
          {% include "components/forum_header/ask_button.html" %}
        </div>
      </div>
    {% endif %}
  </div>
</div>
