<a id="js-edit-btn-post-body-{{ question.pk }}" class="question-edit js-edit" href="{% url edit_question question.pk %}">{% trans %}edit{% endtrans %}</a>
<a id="retag" class="question-retag" href="{% url retag_question question.pk %}">{% trans %}retag{% endtrans %}</a>
{{ macros.flag_post_menu(question) }}
{% if thread.closed %}
    <a class="question-close" href="{% url reopen question.pk %}">{% trans %}reopen{% endtrans %}</a>
{% else %}
    <a class="question-close" href="{% url close question.pk %}">{% trans %}close{% endtrans %}</a>
{% endif %}
<a class="question-merge">{% trans %}merge{% endtrans %}</a>
<a
    id="post-{{question.pk}}-delete"
    class="question-delete"
>{% if question.deleted %}{% trans %}undelete{% endtrans %}{% else %}{% trans %}delete{% endtrans %}{% endif %}</a>
<script type="text/javascript">
    askbot['functions']['renderPostControls']('{{question.pk}}'{{ ', true' if question.wiki }});
</script>
