<div class="js-answer-controls post-controls">
  <span class="action-link with-edit-icon js-edit">
    {% trans %}edit{% endtrans %}
  </span>
  {% if answer.offensive_flag_count > 0 %}
    <span id="answer-offensive-flag-{{ answer.id }}"
      class="action-link offensive-flag with-flag-icon"
      title="{% trans %}remove offensive flag{% endtrans %}"
    >
      {% trans %}remove flag{% endtrans %}
    </span>
    <span
      id="answer-offensive-flag-{{ answer.id }}"
      class="action-link offensive-flag with-flag-icon"
      title="{% trans %}report as offensive (i.e containing spam, advertising, malicious text, etc.){% endtrans %}"
    >
      {% trans %}flag offensive{% endtrans %} ({{ answer.offensive_flag_count }})
    </span>
  {% else %}
    <span
        id="answer-offensive-flag-{{ answer.id }}"
        class="action-link offensive-flag with-flag-icon"
        title="{% trans %}report as offensive (i.e containing spam, advertising, malicious text, etc.){% endtrans %}"
    >
      {% trans %}flag offensive{% endtrans %}
    </span>
  {% endif %}
  <span id='post-{{answer.id}}-delete' class="action-link delete-post with-delete-icon">
    {% if answer.deleted %}{% trans %}undelete{% endtrans %}{% else %}{% trans %}delete{% endtrans %}{% endif %}
  </span>
  {% if thread.is_moderated() %}
    {% set is_published=(answer.id in published_answer_ids) %}
    <span
      id="post-{{answer.id}}-publish"
      class="action-link {% if is_published %}answer-unpublish with-published-icon{% else %}answer-publish with-private-icon{% endif %}"
    >
      {% if is_published %}
        {% trans %}unpublish{% endtrans %}</a>
      {% else %}
        {% trans %}publish{% endtrans %}</a>
      {% endif %}
    </span>
  {% endif %}
  <a  class="action-link with-link-icon"
      href="{{ answer.get_absolute_url(question_post=question) }}"
      title="{% trans %}permanent link{% endtrans %}">
      {% trans %}link{% endtrans %}
  </a>
  <div class="js-dropdown-menu toolbar-dropdown-menu action-link">
    <div class="js-dropdown-trigger with-caret-down-icon">{% trans %}more{% endtrans %}</div>
    <ul class="js-dropdown-target">
      <li id='post-{{answer.id}}-convert'>
        <form class="answer-convert"
          action="{{ url('repost_answer_as_comment_under_question') }}"
          method="post"
        >
          {{ csrf_input }}
          <input type="hidden" name="answer_id" value="{{answer.id}}"/>
          <input
            type="submit"
            class="action-link"
            value="{{ settings.WORDS_REPOST_AS_A_QUESTION_COMMENT|escape }}"
          />
        </form>
      </li>
      <li id='post-{{ answer.id }}-repost-as-comment-under-previous-answer'>
        <form class="answer-convert repost-as-comment-under-previous-answer"
          action="{{ url('repost_answer_as_comment_under_previous_answer') }}"
          method="post"
        >
          {{ csrf_input }}
          <input type="hidden" name="answer_id" value="{{ answer.id }}"/>
          <input type="submit"
            class="action-link"
            value="{{ settings.WORDS_REPOST_AS_A_COMMENT_UNDER_THE_OLDER_ANSWER|escape }}"
          />
        </form>
      </li>
    </ul>
  </div>
  <script type="text/javascript">
      askbot['functions']['hideConvertAnswerLinks']('{{ answer.id }}');
      askbot['functions']['hidePublishAnswerLink']('{{ answer.id }}');
      askbot['functions']['renderPostControls']('{{ answer.id }}'{{ ', true' if answer.wiki }});
  </script>
</div>
