{% if settings.EDITOR_TYPE == 'tinymce' %}
  {% include "editors/tinymce_scripts.html" %}
{% endif %}
{% compress js %}
  <script src="{{ '/jslib/editor.js'|media }}"></script>
  <script src="{{ '/jslib/jquery.validate.min.js'|media }}"></script>
  <script src="{{ '/jslib/highlight.min.js'|media }}"></script>
  <script src="{{ '/js/utils/toggle.js'|media }}"></script>
  <script src="{{ '/js/utils/ajax_toggle.js'|media }}"></script>
  <script src="{{ '/js/utils/expander_toggle.js'|media }}"></script>
  <script src="{{ '/js/validators/question_validators.js'|media }}"></script>
  <script src="{{ '/js/validators/tag_validators.js'|media }}"></script>
  <script src="{{ '/js/validators/answer_validators.js'|media }}"></script>
  <script src="{{ '/js/pages/question/retagger.js'|media }}"></script>
  <script src="{{ '/js/pages/question/comment.js'|media }}"></script>
  <script src="{{ '/js/pages/question/edit_comment_form.js'|media }}"></script>
  <script src="{{ '/js/pages/question/comment_vote_button.js'|media }}"></script>
  <script src="{{ '/js/pages/question/social_sharing.js'|media }}"></script>
  <script src="{{ '/js/pages/question/post_comments_widget.js'|media }}"></script>
  <script src="{{ '/js/pages/question/vote.js'|media }}"></script>
  <script src="{{ '/js/pages/question/flag_offensive.js'|media }}"></script>
  <script src="{{ '/js/pages/question/post_vote.js'|media }}"></script>
  <script src="{{ '/js/pages/question/merge_questions_dialog.js'|media }}"></script>
  <script src="{{ '/js/pages/question/delete_post_link.js'|media }}"></script>
  <script src="{{ '/js/pages/question/publish_answer.js'|media }}"></script>
  <script src="{{ '/js/pages/question/follow_question.js'|media }}"></script>
  <script src="{{ '/js/utils/draft_post.js'|media }}"></script>
  <script src="{{ '/js/pages/question/draft_answer.js'|media }}"></script>
  <script src="{{ '/js/pages/question/share_onsite.js'|media }}"></script>
  <script src="{{ '/js/editors/simple_editor.js'|media }}"></script>
  <script src="{{ '/js/editors/wmd_expander_toggle.js'|media }}"></script>
  <script src="{{ '/js/editors/wmd.js'|media }}"></script>
  <script src="{{ '/js/editors/tinymce.js'|media }}"></script>
  <script src="{{ '/js/utils/editable.js'|media }}"></script>
  <script src="{{ '/js/forms/form.js'|media }}"></script>
  <script src="{{ '/js/editors/folded_editor.js'|media }}"></script>
  <script src="{{ '/js/forms/answer_form.js'|media }}"></script>
  <script src="{{ '/js/utils/proxy_user_inputs.js'|media }}"></script>
  {% if settings.EDITOR_TYPE == 'markdown' %}
    {% include "meta/markdown_javascript.html" %}
  {% endif %}
{% endcompress %}
<script>
  // define reputation needs for comments
  askbot['urls']['getPostHtml'] = '{{ url('get_post_html') }}';
  askbot['urls']['retag'] = "{{ url('retag_question',  question.id ) }}";

  {# IMPORTANT !!! the same number for avatar size as in below two lines must be set in the comment macro #}
  {% if request.user.is_authenticated %}
    askbot['data']['userCommentAvatarUrl'] = '{{ request.user.get_avatar_url(16)|escapejs }}';
  {% endif %}
  askbot['settings']['commentAvatarSize'] = 16;

  $(document).ready(function(){
    $("#js-answers-sort-" + askbot['data']['answersSortTab']).attr('className',"js-active");

    Vote.init(
      askbot['data']['questionId'],
      askbot['data']['threadSlug'],
      askbot['data']['questionAuthorId'],
      askbot['data']['userId']
    );
    PostVote.init();

    if ((askbot['data']['threadIsClosed'] === false) && askbot['data']['userIsAuthenticated']) {
      initEditor();
    }

    if (askbot['data']['userIsAuthenticated']) {
      var draftHandler = new DraftAnswer();
      draftHandler.setThreadId({{ thread.id }});
      draftHandler.decorate($('body'));
    }

    var expanders = $('.js-expander');
    expanders.each(function(idx, item) {
      var expanderElement = $(item);
      var post = expanderElement.closest('.js-post,.js-comment');
      if (post.length === 1) {
        var expander = new PostExpander();
        expander.setPostId(post.data('postId'));
        expander.decorate(expanderElement);
      }
    });
  });

  function animate_hashes(){
    var id_value = window.location.hash;
    if (id_value != ""){
      var previous_color = $(id_value).css('background-color');
      $(id_value).css('backgroundColor', '#FFF8C6');
      $(id_value).animate({
        backgroundColor: '#ff7f2a'
      }, 1000).animate({backgroundColor: '#FFF8C6'}, 1000, function(){
        $(id_value).css('backgroundColor', previous_color);
      });
    }
  }

  $(window).bind('hashchange', animate_hashes);

  function initEditor(){
    $('#editor').TextAreaResizer();
    //highlight code synctax when editor has new text

    var display = true;
    var txt = "[{% trans %}hide preview{% endtrans %}]";
    $('#pre-collapse').text(txt);
    $('#pre-collapse').bind('click', function(){
      txt = display ? "[{% trans %}show preview{% endtrans %}]" : "[{% trans %}hide preview{% endtrans %}]";
      display = !display;
      $('#previewer').toggle();
      $('#pre-collapse').text(txt);
    });
    var formElement = $('.js-answer-form');
    if (formElement.length) {
      var answerForm = new AnswerForm();
      answerForm.decorate(formElement);
    }
  }
</script>
