<div class="new-answer-form">
  {% include "question/new_answer_form_title.html" %}
  <div class="info-box">
    {% if request.user.is_anonymous %}
      {{ settings.WORDS_INSTRUCTION_TO_POST_ANONYMOUSLY|safe }}
    {% elif request.user==question.author  %}
      {{ settings.WORDS_INSTRUCTION_TO_ANSWER_OWN_QUESTION|safe }}
    {% endif %}
    {{ settings.WORDS_INSTRUCTION_TO_GIVE_ANSWER|safe }}
  </div>
  <div class="js-folded-editor" tabindex="6">
    <p class="js-folded-editor-trigger"><a>{{ settings.WORDS_ADD_ANSWER|escape }}</a></p>
    <div class="js-folded-editor-editor">
      <form class="js-answer-form"
        action="{{ url('answer',  question.id ) }}"
        method="post"
        data-validated-fields="text"
        data-text-validator="askbot.validators.answerValidator"
        >{{ csrf_input }}
        <div class="js-error js-text-error"></div>
        {% set draft_answer=answer.text.value() %}
        <div class="form-group js-editor-placeholder"
          {% if draft_answer %}data-draft-answer="{{ draft_answer|escape }}"{% endif %}>
        </div>
        <div class="answer-options">
          {% if settings.WIKI_ON %}
            {{ macros.checkbox_in_div(answer.wiki) }}
          {% endif %}
          {% if settings.GROUPS_ENABLED and
            request.user.is_authenticated and
            request.user.can_make_group_private_posts()
          %}
            {{ macros.checkbox_in_div(answer.post_privately) }}
          {% endif %}
          {% set post_form=answer %}
          {% include "components/proxy_author_inputs.html" %}
        </div>
        {% if answer.recaptcha %}
          <div>{{ macros.form_field_with_errors(answer.recaptcha) }}</div>
        {% endif %}
        <input id="add-answer-btn" type="submit" class="btn" />
        <script type="text/javascript">
          askbot['functions']['renderAddAnswerButton']();
        </script>
      </form>
    </div>
  </div>
</div>
