{% import "macros.html" as macros %}
<div id="js-post-controls-{{ question.id }}" class="js-question-controls js-post-controls" data-post-id="{{ question.id }}">
  <span id="js-edit-btn-post-body-{{ question.pk }}"
    class="action-link js-edit with-edit-icon"
  >{% trans %}edit{% endtrans %}</span>
  {{ macros.post_flag_buttons(question) }}
  {% if thread.closed %}
    <a id="js-question-close-btn-{{question.id}}"
      class="action-link with-reopen-icon js-post-reopen"
      href="{{ url('reopen',  question.id ) }}"
    >{% trans %}reopen{% endtrans %}</a>
  {% else %}
    <a id="js-question-close-btn-{{question.id}}"
      class="action-link with-close-icon"
      href="{{ url('close',  question.id ) }}"
    >{% trans %}close{% endtrans %}</a>
  {% endif %}
  <a 
    id="js-question-merge-btn-{{question.id}}"
    class="action-link js-question-merge-btn with-merge-icon"
  >{% trans %}merge{% endtrans %}</a>
  <a
    id="js-post-delete-btn-{{question.id}}"
    class="action-link js-question-delete-btn with-delete-icon"
  >{% if question.deleted %}{% trans %}undelete{% endtrans %}{% else %}{% trans %}delete{% endtrans %}{% endif %}</a>
  <script type="text/javascript">
    askbot['functions']['renderPostControls']('{{question.id}}'{{ ', true' if question.wiki }});
  </script>
</div>
