#outgoing mail server settings
SERVER_EMAIL = '{{ server_email }}'
DEFAULT_FROM_EMAIL = '{{ default_from_email }}'
EMAIL_HOST_USER = '{{ email_host_user }}'
EMAIL_HOST_PASSWORD = '{{ email_host_password }}'
EMAIL_SUBJECT_PREFIX = '{{ email_subject_prefix }}'
EMAIL_HOST = '{{ email_host }}'
EMAIL_PORT = '{{ email_port }}'
EMAIL_USE_TLS = {{ email_use_tls }}
EMAIL_BACKEND = '{{ email_backend }}' # django.core.mail.backends.smtp.EmailBackend'
