#logging settings
logging.basicConfig(
    filename='{{ log_file_path }}',
    level=logging.CRITICAL,
    format='%(pathname)s TIME: %(asctime)s MSG: %(filename)s:%(funcName)s:%(lineno)d %(message)s',
)
