<html>
  <head>
    <title>{% trans %}Internal server error{% endblock %} - {{ settings.APP_TITLE|escape }}</title>
    <meta name="description" content="{{settings.APP_DESCRIPTION|escape}}" />
    <link rel="shortcut icon" href="{{ settings.SITE_FAVICON|media }}" />
    {% include "meta/stylesheets.html" %}
    {% include "meta/fonts.html" %} {# may contain external files #}
    {% if settings.USE_CUSTOM_HTML_HEAD %}
      {{ settings.CUSTOM_HTML_HEAD }}
    {% endif %}
  </head>
  <body class="error-page error-500-page">
    <main>
      <h1>{% trans %}Internal server error{% endtrans %}</h1>
      <p>
        {% trans %}system error log is recorded, error will be fixed as soon as possible{% endtrans %}<br/>
        {% trans %}please report the error to the site administrators{% endtrans %}
      </p>
    </main>
  </body>
</html>
