.wmd-container {
  margin: var(--wmd-margin);
}

.wmd-input { 
	height: 500px;
	background-color: Gainsboro;
	border: 1px solid DarkGray;
	margin-top: -20px;
}

.wmd-output { 
	background-color: Pink;
}

.wmd-button-row {
	position: relative; 
  display: flex;
  align-items: center;
  margin: var(--wmd-button-row-margin);
	padding: var(--wmd-button-row-padding);
}

.wmd-spacer {
	width: var(--wmd-spacer-width);
	height: var(--wmd-spacer-height);
  margin: var(--wmd-spacer-margin);
	background: var(--wmd-spacer-background);
	display: inline-block; 
	list-style: none;
}

.wmd-button {
  cursor: pointer;
	width: var(--wmd-button-size);
	height: var(--wmd-button-size);
  margin: var(--wmd-button-margin);
	display: inline-block; 
	list-style: none;
}

.wmd-button::before {
  align-items: center;
  color: var(--wmd-button-color);
  background: var(--wmd-button-bg);
  display: flex !important;
  justify-content: center;
  height: 100%;
  width: 100%;
  transition: color var(--transition-params), background var(--transition-params);
}

.wmd-button:hover::before {
  transition: color var(--transition-params), background var(--transition-params);
  color: var(--wmd-button-hover-color);
  background: var(--wmd-button-hover-bg);
}

.wmd-prompt-background {
	background-color: Black;
}

.wmd-prompt-dialog
{
	border: 1px solid #999999;
	background-color: #F5F5F5;
}

.wmd-prompt-dialog > div {
	font-size: 1em;
	font-family: arial, helvetica, sans-serif;
}


.wmd-prompt-dialog > form > input[type="text"] {
	border: 1px solid #999999;
	color: black;
}

.wmd-prompt-dialog > form > input[type="button"]{
	border: 1px solid #888888;
	font-family: trebuchet MS, helvetica, sans-serif;
	font-size: 1em;
	font-weight: bold;
}

.wmd-previewer-toggle {
  cursor: pointer;
  padding: var(--wmd-preview-toggle-padding);
  margin: var(--wmd-preview-toggle-margin);
}

.wmd-preview,
.js-editable-content {
  padding: var(--wmd-preview-padding);
  margin: var(--wmd-preview-margin);
  ul, ol {
    padding: var(--wmd-preview-list-padding);
  }
  ul, ol, p, pre {
    margin: var(--wmd-preview-block-margin);
  }

  & > :last-child {
    margin-bottom: 0;
  }
}

.js-editable-content {
  padding-left: 0;
}

.wmd-preview {
  background: var(--wmd-preview-background) !important;
  border: var(--wmd-preview-border);
}
