.js-ac-results {
  background: var(--input-bg-color);
  border-bottom-left-radius: var(--input-border-radius);
  border-bottom-right-radius: var(--input-border-radius);
  border-style: var(--input-border-style);
  border-color: var(--input-border-color);
  border-width: var(--input-border-width);
  border-top: none;
  width: 100%;
  ul {
    list-style: none;
  }
  li {
    cursor: pointer;
    color: var(--fg-color);
    padding: 0.25rem 0.5rem;
    transition: color var(--transition-duration) var(--transition-timing-function),
                background var(--transition-duration) var(--transition-timing-function);
    &:hover {
      background: var(--autocompleter-hover-bg);
      color: var(--input-bg-color);
      transition: color var(--transition-duration) var(--transition-timing-function),
                  background var(--transition-duration) var(--transition-timing-function);
    }
  }
}
