.reputation-badge {
  background: var(--reputation-badge-bg);
  border-radius: var(--reputation-badge-border-radius);
  box-shadow: var(--reputation-badge-box-shadow);
  color: var(--reputation-badge-color);
  font-size: var(--reputation-badge-font-size);
  height: var(--reputation-badge-height);
  line-height: var(--reputation-badge-line-height);
  padding: var(--reputation-badge-padding);
}
