.title-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.75rem;
  h1 {
    font-size: var(--large-font-size);
    padding-top: 0.25rem;
    margin-bottom: 0.25rem;
  }
}

.tags-page,
.users-page {
  .title-row {
    background: var(--semi-transparent-bg-color);
    position: sticky;
    top: var(--forum-header-height);
    z-index: 100;
  }
}
