{% macro select_reason_menu(reasons, type) %}
<ul class="dropdown-menu select-{{ type }}-reason">
    {% for reason in reasons %}
        {% if reason.reason_type == type %}
        <li>
            <a class="decline-with-reason" data-reason-id="{{ reason.id }}">
                {{ reason.title|escape }}{% if reason.is_predefined %}*{% endif %}
            </a>
        </li>
        {% endif %}
    {% endfor %}
    <li>
        <a class="manage-reasons">{% trans %}add/manage reject reasons{% endtrans %}</a>
    </li>
</ul>
{% endmacro %}

{% macro manage_reasons_dialog(reasons, type) %}
<div class="modal" style="display:none" id="manage-{{ type }}-reasons-modal">
      <div class="modal-header">
          <a class="close" data-dismiss="modal">x</a>
          <h3>
            {% if type == 'post_moderation' %}
              {% trans %}Manage post flag/reject reasons{% endtrans %}
            {% elif type == 'question_closure' %}
              {% trans %}Manage question close reasons{% endtrans %}
            {% elif type == 'user_moderation' %}
              {% trans %}Manage question close reasons{% endtrans %}
            {% else %}
              moderation_reasons_dialog: value of type is not set
            {% endif %}
          </h3>
          <p>{% trans %}Note: only custom moderation reasons can be edited here. Predefined reasons are marked with an asterisk* in the main list and are not shown here.{% endtrans %}</p>
      </div>
      <div class="add-reason-dialog">{# create new moderation reason #}
          <div class="modal-body">
              <input 
                  class="moderation-reason-title tipped-input blank"
                  type="text"
                  value="{% trans %}1) Enter a brief description of why you are rejecting the post.{% endtrans %}"
              />
              <textarea class="moderation-reason-details tipped-input blank"
              >{% trans %}2) Please enter details here. This text will be sent to the user.{% endtrans %}</textarea>
          </div>
          <div class="modal-footer">
              <div class="btn-toolbar">
                  <a class="btn save-reason">{% trans %}Save reason{% endtrans %}</a>
                  <a class="btn cancel">{% trans %}Cancel{% endtrans %}</a>
              </div>
          </div>
      </div>
      <div class="select-reason-dialog">{# select one of existing reasons #}
          <div class="modal-body">
              <ul class="select-box">
                  {% for reason in reasons %}
                      {% if not reason.is_predefined and reason.reason_type == type %}
                          <li class="select-box-item"
                              data-original-title="{{reason.description_text|escape}}"
                              data-item-id="{{reason.id}}"
                          >{{reason.title|escape}}</li>
                      {% endif %}
                  {% endfor %}
              </ul>
          </div>
          <div class="modal-footer">
              <div class="btn-toolbar">
                  <a class="btn edit-this-reason" style="display: none;">{% trans %}Edit this reason{% endtrans %}</a>
                  <a class="btn delete-this-reason" style="display: none;">{% trans %}Delete this reason{% endtrans %}</a>
                  <a class="btn add-new-reason">{% trans %}Add a new reason{% endtrans %}</a>
                  <a class="btn cancel">{% trans %}Done{% endtrans %}</a>
              </div>
          </div>
      </div>
  </div>
{% endmacro %}
