<script type="text/javascript">
  (function() {
    askbot['urls']['saveModerationReason'] = '{% url save_moderation_reason %}';
    askbot['urls']['deleteModerationReason'] = '{% url delete_moderation_reason %}';
    askbot['urls']['moderateQueueItems'] = '{% url moderate_items %}';
    askbot['urls']['getPostRevisionHtml'] = '{% url get_post_revision_html %}';
    askbot['data']['moderationReasons'] = JSON.parse('{{ moderation_reasons|as_json|escapejs }}');
    var modControls = new PostModerationControls();
    modControls.decorate($('body'));
  })();
</script>
