<script type="text/javascript">
  (function() {
    askbot['urls']['save_post_reject_reason'] = '{% url save_post_reject_reason %}';
    askbot['urls']['delete_post_reject_reason'] = '{% url delete_post_reject_reason %}';
    askbot['urls']['moderatePostEdits'] = '{% url moderate_post_edits %}';
    askbot['data']['postRejectReasons'] = [
      {% for reason in post_flag_reasons %}
        {'id': {{reason.id}}, 'title': '{{reason.title|escapejs}}'},
      {% endfor %}
    ];
    var modControls = new PostModerationControls();
    modControls.decorate($('body'));
  })();
</script>
