{% extends "one_column_body.html" %}
{% import "macros.html" as macros %}
{% import "moderation/macros.html" as moderation_macros %}
{% block title %}
    {% trans %}Moderation queue{% endtrans %}
{% endblock %}
{% block content %}
    <h1 class="section-title">{% trans %}Moderation queue{% endtrans %}</h1>
    <div class="tools">
        {#<div class="select-items">
            <strong>{% trans %}Select:{% endtrans %}</strong>
            <a class="sel-all">{% trans %}all{% endtrans %}</a> |
            <a class="sel-none">{% trans %}none{% endtrans %}</a>
        </div>#}
        <a class="btn approve-posts">{% trans %}approve posts{% endtrans %}</a>
        <a class="btn approve-posts-users" id="re_approve_posts_users">{% trans %}approve posts and users{% endtrans %}</a>
        <div class="btn-group dropdown decline-reasons-menu">
            <span class="btn btn-info dropdown-toggle">
                <span>{% trans %}decline and explain why{% endtrans %}</span>
                <span class="caret"></span>
            </span>
            <ul class="dropdown-menu">
                {% for reason in moderation_reasons %}
                    <li>
                        <a class="decline-with-reason" data-reason-id="{{ reason.id }}">
                            {{ reason.title|escape }}{% if reason.is_predefined %}*{% endif %}
                        </a>
                    </li>
                {% endfor %}
                <li>
                    <a class="manage-reasons">{% trans %}add/manage reject reasons{% endtrans %}</a>
                </li>
            </ul>
        </div>
        <a class="btn btn-danger decline-block-users">{% trans %}block spammers{% endtrans %}</a>
        {% if settings.IP_MODERATION_ENABLED %}
        <a class="btn btn-danger decline-block-users-ips">{% trans %}block spammers and IPs{% endtrans %}</a>
        {% endif %}
    </div>
    <ul class="mod-queue-info">
        <li>Approval of users removes them from the queue and approves ALL of their posts.</li>
        <li>Blocking spammers denies them future access and deletes ALL their posts.</li>
        {% if settings.IP_MODERATION_ENABLED %}
        <li>Blocking IPs denies access by IP address and blocks all accounts using those IPs (and mass deletes content as above).</li>
        {% endif %}
    </ul>
    <div class="action-status" style="height: 1.5rem"><span></span></div>
    <div class="messages">
    {% for item in queue_items %}
        <div class="message" data-message-id="{{ item.id }}">
            {{ macros.moderation_queue_item(item) }}
        </div>
    {% endfor %}
    </div>
{% endblock %}
{% block endjs %}
    {# todo: factor out moderation.js file #}
    {% compress js %}
    <script type="text/javascript" src="{{ '/js/moderation/decline_and_explain_menu.js'|media }}"></script>
    <script type="text/javascript" src="{{ '/js/moderation/moderation_queue_controls.js'|media }}"></script>
    <script type="text/javascript" src="{{ '/js/moderation/manage_moderation_reasons_dialog.js'|media }}"></script>
    {% endcompress %}
    {{ moderation_macros.manage_reasons_dialog(moderation_reasons, 'post_moderation') }}
    {% include "moderation/post_moderation_controls_init.html" %}
{% endblock %}
