.badge-detail-page {
  h1 {
    margin-bottom: 0.5rem;
  }
  main h2 {
    font-size: var(--large-font-size);
    margin-bottom: 0.5rem;
  }
  .badge {
    margin-right: 0.5rem;
  }
  .badge-awarded-for {
    text-transform: lowercase;
  }
  .badge-info,
  .badge-recipients-info {
    margin-bottom: 1rem;
  }
}
