@use '../node_modules/normalize.css/normalize.css';

*, *:before, *:after {
  box-sizing: border-box;
}

html, body,
h1, h2, h3, h4, h5, h6,
a, p, span,
em, small, strong,
sub, sup,
mark, del, ins, strike,
abbr, dfn,
blockquote, q, cite,
code, pre,
ol, ul, li, dl, dt, dd,
div, section, article,
main, aside, nav,
header, hgroup, footer,
img, figure, figcaption,
address, time,
audio, video,
canvas, iframe,
details, summary,
fieldset, form, label, legend,
table, caption,
tbody, tfoot, thead,
tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 16px;
  background: var(--bg-color);
  color: var(--fg-color);
}

abbr {
  display: none;
  text-decoration: none !important;
}

input {
  background: var(--input-bg-color);
  color: var(--fg-color);
}

button,
input,
.btn {
  border-color: var(--input-border-color);
  border-radius: var(--input-border-radius);
  border-width: var(--input-border-width);
  border-style: var(--input-border-style);
}

input[type="text"],
input[type="submit"],
button,
.btn {
  height: var(--input-height);
  font-size: var(--input-font-size);
  padding: 0 var(--input-horizontal-padding);
}
