@use '../node_modules/normalize.css/normalize.css';

*, *:before, *:after {
  box-sizing: border-box;
}

html, body,
h1, h2, h3, h4, h5, h6,
a, p, span,
em, small, strong,
sub, sup,
mark, del, ins, strike,
abbr, dfn,
blockquote, q, cite,
code, pre,
ol, ul, li, dl, dt, dd,
div, section, article,
main, aside, nav,
header, hgroup, footer,
img, figure, figcaption,
address, time,
audio, video,
canvas, iframe,
details, summary,
fieldset, form, label, legend,
table, caption,
tbody, tfoot, thead,
tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 16px;
  background: var(--bg-color);
  color: var(--fg-color);
}

a,
a:active,
.btn-link {
  color: var(--link-color);
  transition: color var(--transition-timing) var(--transition-function);
}

.btn-link {
  background: var(--bg-color);
  border: none;
  cursor: pointer;
  font-size: inherit;
  text-decoration: underline;
  padding: 0;
}

a,
.btn-link {
  &:hover {
    color: var(--link-hover-color);
    transition: color var(--transition-timing) var(--transition-function);
  }
}

abbr {
  display: none;
  text-decoration: none !important;
}

input {
  background: var(--input-bg-color);
  color: var(--fg-color);
}

input,
.btn {
  border-color: var(--input-border-color);
  border-radius: var(--input-border-radius);
  border-width: var(--input-border-width);
  border-style: var(--input-border-style);
}

.btn {
  background: var(--btn-bg);
  border-color: var(--btn-border-color);
  border-radius: var(--input-border-radius);
  border-width: var(--input-border-width);
  border-style: var(--input-border-style);
  color: var(--btn-fg-color);
  font-size: var(--input-font-size);
  transition: color var(--transition-timing) var(--transition-function),
    background var(--transition-timing) var(--transition-function),
    var(--transition-timing) var(--transition-function);

  &:hover {
    background: var(--btn-hover-bg);
    border-color: var(--btn-hover-border-color);
    transition: color var(--transition-timing) var(--transition-function),
      background var(--transition-timing) var(--transition-function),
      var(--transition-timing) var(--transition-function);
  }
}

.btn.btn-muted {
  background: var(--btn-muted-bg);
  border-color: var(--btn-muted-border-color);
  color: var(--btn-muted-fg-color);
  transition: color var(--transition-timing) var(--transition-function),
    background var(--transition-timing) var(--transition-function),
    var(--transition-timing) var(--transition-function);

  &:hover {
    background: var(--btn-muted-hover-bg);
    border-color: var(--btn-muted-hover-border-color);
    transition: color var(--transition-timing) var(--transition-function),
      background var(--transition-timing) var(--transition-function),
      var(--transition-timing) var(--transition-function);
  }
}

input[type="text"],
.btn {
  height: var(--input-height);
  font-size: var(--input-font-size);
  padding: 0 var(--input-horizontal-padding);
}

.small-font {
  font-size: var(--small-font-size);
}
