@use '../node_modules/normalize.css/normalize.css';

*, *:before, *:after {
  box-sizing: border-box;
}

html, body,
h1, h2, h3, h4, h5, h6,
a, p, span,
em, small, strong,
sub, sup,
mark, del, ins, strike,
abbr, dfn,
blockquote, q, cite,
code, pre,
ol, ul, li, dl, dt, dd,
div, section, article,
main, aside, nav,
header, hgroup, footer,
img, figure, figcaption,
address, time,
audio, video,
canvas, iframe,
details, summary,
fieldset, form, label, legend,
table, caption,
tbody, tfoot, thead,
tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-size: var(--font-size);
}

body {
  font-family: var(--font-family);
  font-weight: var(--font-weight-normal);
  background: var(--bg-color);
  color: var(--fg-color);
}

pre {
  overflow-x: scroll;
  padding: var(--pre-padding);
}

a,
a:active,
.btn-link {
  color: var(--link-color);
  cursor: pointer;
  transition: color var(--transition-params);
  text-decoration-thickness: var(--text-decoration-thickness);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: var(--heading-font-weight);
}

.btn-link {
  background: var(--bg-color);
  border: none;
  cursor: pointer;
  font-size: inherit;
  text-decoration: underline;
  padding: 0;
}

.btn-link,
.a {
  cursor: pointer;
  &:hover {
    color: var(--link-hover-color);
    transition: color var(--transition-params);
  }
}

abbr {
  display: none;
  text-decoration: none !important;
}

input,
textarea,
select {
  background: var(--input-bg-color);
  color: var(--fg-color);
  &:focus {
    outline: none;
  }
}

input,
select,
textarea,
.btn {
  border-color: var(--input-border-color);
  border-radius: var(--input-border-radius);
  border-width: var(--input-border-width);
  border-style: var(--input-border-style);
}

.btn {
  background: var(--btn-bg);
  border-color: var(--btn-border-color);
  border-radius: var(--input-border-radius);
  border-width: var(--input-border-width);
  border-style: var(--input-border-style);
  color: var(--btn-fg-color);
  cursor: pointer;
  font-size: var(--input-font-size);
  transition: color var(--transition-timing) var(--transition-function),
    background var(--transition-timing) var(--transition-function),
    var(--transition-timing) var(--transition-function);

  &:hover {
    background: var(--btn-hover-bg);
    border-color: var(--btn-hover-border-color);
    transition: color var(--transition-timing) var(--transition-function),
      background var(--transition-timing) var(--transition-function),
      var(--transition-timing) var(--transition-function);
  }
}

a.btn {
  display: inline-block;
  height: var(--input-height);
  padding-top: 0.25rem;
  text-decoration: none;
}

.btn.btn-muted {
  background: var(--btn-muted-bg);
  border-color: var(--btn-muted-border-color);
  color: var(--btn-muted-fg-color);
  transition: color var(--transition-timing) var(--transition-function),
    background var(--transition-timing) var(--transition-function),
    var(--transition-timing) var(--transition-function);

  &:hover {
    background: var(--btn-muted-hover-bg);
    border-color: var(--btn-muted-hover-border-color);
    transition: color var(--transition-timing) var(--transition-function),
      background var(--transition-timing) var(--transition-function),
      var(--transition-timing) var(--transition-function);
  }
}

input[type="email"],
input[type="file"],
input[type="number"],
input[type="password"],
input[type="reset"],
input[type="submit"],
input[type="text"],
select,
textarea,
.btn {
  font-size: var(--input-font-size);
  font-family: var(--font-family);
  font-weight: var(--font-weight-normal);
  padding: 0 var(--input-horizontal-padding);
}

input[type="email"],
input[type="file"],
input[type="number"],
input[type="password"],
input[type="reset"],
input[type="submit"],
input[type="text"],
select,
.btn {
  height: var(--input-height);
}

input[type="file"] {
  padding: var(--input-type-file-padding);
}

.small-font {
  font-size: var(--small-font-size);
}

.js-hidden {
  display: none !important;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.js-inline-block {
  display: inline-block !important;
}

.row {
  display: block;
  margin-bottom: 0.5rem;
}

.nowrap {
  white-space: nowrap;
}

h1 {
  font-size: var(--extra-large-font-size);
  margin: 0 0 0.5rem;
}

input[type="checkbox"],
input[type="button"],
input[type="submit"],
input[type="reset"],
select,
option {
  cursor: pointer;
}

main {
  padding: var(--main-block-padding);
}

body:not(.tags-page):not(.questions-page):not(.users-page) main {
  padding-top: 0.5rem;
}
