:root {
  --bronze-badge-color: hsl(30, 91%, 46%);
  --silver-badge-color: hsl(0, 0%, 80%);
  --gold-badge-color: hsl(46, 100%, 50%);
  --header-bg-color: hsl(60, 19%, 7%);
  --header-link-color: hsl(74, 57%, 74%);
  --header-link-color-hover: white;
  --system-messages-bg-color: hsl(50, 87%, 69%);
  --system-messages-border-color: hsl(50, 100%, 88%);
  --danger-color: hsl(0, 79%, 47%);
  --danger-light-color: hsl(0, 79%, 60%);
  --transition-color: color 0.1s ease-in-out;
}
