.content-wrapper {
  max-width: var(--layout-max-width);
  margin: 0 auto;
  padding: 0 var(--layout-horizontal-padding);
}

.col-with-sidebar {
  display: flex;
  & > :first-child {
    padding-right: var(--layout-horizontal-padding);
    width: calc(100% - var(--layout-sidebar-width));
  }
  & > :nth-child(2) {
    width: var(--layout-sidebar-width);
  }
}
